[submodule "lib/coq2html"]
	path = lib/coq2html
	url = https://github.com/xavierleroy/coq2html.git
[submodule "src/cerberus-private"]
	path = src/cerberus-private
	url = git@github.com:rems-project/cerberus-private.git
